a{
    text-decoration: none;
}


/*--------------------------------------------------------------
# Nav Bar
--------------------------------------------------------------*/
#neubar {
    background: #28A4EB ;
    box-shadow: 4px 6px 10px rgba(0,0,0,0.4)
  }
  
  .nav-item .active {
    border-radius: 15px;
    background: linear-gradient(145deg, #de6767, #de536f);
    
  }
  #neubar .nav-item {
    margin : auto 4px;
  }
  #neubar a {
  
    padding-left:11px;
    padding-right:11px;
  }
  #neubar .dropdown-menu {
    background : #545454
  }
  a.navbar-brand {
    color: #454545
  }


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
  margin: auto;
  color: #fff;
  font-size: 14px;
  background: #111;
  margin-top: 600px;
}
.footer .subscribe {
    margin-top: -25px; 
}
.footer .subscribe-form {
    border-radius: 40px;
    background: #fff;
    padding: 3px;
    -webkit-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1); 
}
.footer .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0; 
}
.footer .subscribe-form .form-group input {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    color: rgba(0, 0, 0, 0.3) !important;
    font-size: 16px;
    height: 56px;
    border-radius: 0; 
}

.footer .subscribe-form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(0, 0, 0, 0.3) !important; }
.footer .subscribe-form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.3) !important; }
.footer .subscribe-form .form-group input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(0, 0, 0, 0.3) !important; }
.footer .subscribe-form .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(0, 0, 0, 0.3) !important; }
.footer .subscribe-form .form-group input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }
.footer .subscribe-form .form-group .submit {
  color: #fff !important;
  display: block;
  width: 150px;
  height: 56px;
  font-size: 14px;
  background: #88d1e4 !important;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 40px; }
.footer .subscribe-form .form-group .submit:hover, .footer .subscribe-form .form-group .submit:focus {
    text-decoration: none !important;
    outline: none !important; 
}
.footer .footer-top {
  padding: 60px 0 30px 0;
  background: #111;
}
.footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
.footer .footer-top .footer-contact h3 {
  font-size: 22px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}
.footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
.footer .footer-top .footer-links {
  margin-bottom: 30px;
}
.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #88d1e4;
  font-size: 18px;
  line-height: 1;
}
.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
.footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
.footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fff;
}
.footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}
.footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.footer .social-links a:hover {
  background: #2e95af;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.carousel-caption {
  margin-bottom: 250px;
	bottom: 220px;
	z-index: 2;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
}
.carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 18px;
	line-height: 1.5;
}
.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		/* bottom: 370px; */
    margin-bottom: 100px;
	}
	.carousel-caption p {
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.carousel-caption {
		/* bottom: 125px; */
    margin-bottom: 0px;
	}
	.carousel-caption h5 {
		font-size: 17px;
	}
	.carousel-caption a {
		padding: 10px 15px;
		font-size: 15px;
	}
	.carousel-caption p {
		width: 100%;
		line-height: 1.6;
		font-size: 12px;
	}
}


/* Contact Us CSS */


.contat-us h2{
  font-size: 70px;
  padding-top: 50px;
}

.address-card{
  margin: 30px;
}

.contact-card{
  height: 350px;
  text-align: center;
  padding: 25px;
  font-size: 20px;
}

.contact-card .card{
  height: 300px;
  background-color: #e7edee;
  padding: 20px;
  border-radius: 70px;
}

.contact-card .card .fa-solid{
  width: 70px;
  height: 70px;
  box-shadow: 0 2px 2px #e5c0c0;
  padding: 0px;
  text-align: center;
  color: #f06868;
  font-size: 35px;
  line-height: 2em;
  border-radius: 50%;
  background-color: rgb(226, 212, 212);
  
}
.contact-card .card:hover{
  background:#fff;
  box-shadow: 2px 2px 15px 0 rgba(135,135,135, 0.4);
  transition: all 0.5s ease 0s;
}

.contact-card .card .card-title{
  margin-top: 5px;
  padding: 10px;
  font-size: 25px;
}

.contact-card .card .card-text{
  padding: 10px;
  font-size: 18px;
  color: rgb(139, 139, 139);
}

.contact-card .card .card-text a{
  text-decoration: none;
  color: rgb(139, 139, 139);
}

.business-heading{
  text-align: center;
  margin-top: 10px;
  font-size: 35px;
  
}

.business-heading .contactus-title{
  font-size: 45px;
  font-weight: bolder;
}

.business-heading .contactus-subtitle{
  font-size: 35px;
  font-weight: bolder;
}

/* Contact Us form */

.form-content{
  margin: 10px;
  padding: 70px;
}

.form-content .form-box{
  margin: 20px;
  border: 1px solid #e7edee;
  background: #e7edee;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-content .form-box form{
  padding-top: 20px;
  padding-bottom: 10px;
}

.contact-img{
  display: flex;
  align-items: center;
}
.contact-img img{
  /* height: 350px; */
  width: 90%;
  padding-left: 40px;
}
.form-submit{
  padding-bottom: 10px;
  padding-left: 50px;
}

.form-submit button{
  width: 170px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  text-align: center;
  background: #f06868;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  transition: ease .20s;
}

.form-submit button:hover{
  border: 2px solid #f06868;
  background: transparent;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  min-height: 40px;
  margin-top: 72px;
  background-color: #e7edee;
  height: 250px;
  text-align: center;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #000000;
}

.breadcrumbs ol a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #000000;
  content: "/";
}

@media (max-width: 991px) {
  .breadcrumbs {
    margin-top: 58px;
  }

  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
#team{
  background:#f7f7f7;
}
.team .section-title{
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.team .section-title h2{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.team .section-title hr{
  border: 3px solid rgb(8, 8, 8);
  width: 20%;
  text-align: center;
}
.team .section-title p{
  padding-bottom: 20px;
  font-size:18px;
}
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #f8f8f8;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #111;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
  line-height: 0;
}

.team .member .social a i {
  line-height: 0;
}

.team .member .social a:hover {
  color: #2e95af;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #111;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #b4aca8;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #847872;
}

.team .member:hover .social {
  opacity: 1;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .section-title{
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
}
.clients .clients-wrap {
  border-top: 1px solid #ececec;
  border-left: 1px solid #ececec;
}

.clients .client-logo {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  overflow: hidden;
  background: #fff;
  height: 100px;
}

.clients .client-logo img {
  transition: all 0.3s ease-in-out;
  height: 36px;
  filter: grayscale(100%);
}

.clients .client-logo:hover img {
  filter: none;
  transform: scale(1.1);
}

